*{
  font-family: 'Montserrat';
  font-weight: 300;
}

body{
  text-align: center;
  background: $primary-color;
  color: $primary-text-color;
  padding: 35px;
  overflow-y: hidden;
}

h1{
  font-size: 98px;
  font-weight: 300;
}

a{
  color: $primary-text-color;
  text-decoration: underline;
  font-weight: 500;
}

.instruction{
  margin: 38px;
  font-size: 41px;
  p{
    font-weight: 300;
  }
  h3{
    font-weight: 500;
  }
}